* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 80%;
    max-width: 700px;
}

td {
    padding: 1rem 1rem !important;
}

p {
    font-size: 20px;
}
